@model NEOOG.Models.Exchange

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Exchange</h4>
    <hr />
    <dl class="dl-horizontal">
       
        
        <dt>
            @Html.DisplayNameFor(model => model.ExchangeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeGetGive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeGetGive)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeQTY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeQTY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangePostTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangePostTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExchangeUserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExchangeUserName)
        </dd>

    </dl>
    <a href="/privatemessage/view/?from=cf44b1a0-43d4-4f0e-bdda-a72f01106fc4" class="btn-mvc pm-panel" data-name="Message:@Html.DisplayFor(model => model.ExchangeUserName)">Message Me</a>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ExchangeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
