@model IEnumerable<NEOOG.Models.Exchange>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeGetGive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeQTY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangePostTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeUserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeGetGive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeQTY)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangePostTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeUserName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ExchangeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ExchangeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ExchangeID })
        </td>
    </tr>
}

</table>
